<h1>Update <%=@band.name() %></h1>

<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename this band:</label>
  <input id="name" name="name" type="text">

  <button class="submit">Update Band</button>
</form>


<p>Delete a Band</p>
<br>
<form action="/bands/<%= @band.id() %>" method="post">
  <label for="deleted">Remove band: </label>
  <input name="_method" type="hidden" value="delete" id="deleted">

  <button type="submit">Delete Band</button>
</form>
